<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var socket=io("http://localhost:8080");
		$(function(){
			$("#do").click(function(){
				socket.emit('client_send_color','red');
			});
			$("#xanh").click(function(){
				socket.emit('client_send_color','green');
			});
			$("#vang").click(function(){
				socket.emit('client_send_color','yellow');
			});
		})

		socket.on('server_send_color',function(data){
			$("body").css('background-color',data);
		});
		
	</script>
	<style type="text/css">
		#do,#xanh,#vang{width:300px;height:150px;}
		#do{background-color: red}
		#xanh{background-color: green}
		#vang{background-color: yellow}
	</style>
</head>
<body>
<div id="do"></div>
<div id="xanh"></div>
<div id="vang"></div>
</body>
</html>